@{
    ViewData["Title"] = "Balance";
}

<h1>Balance</h1>
<div class="container text-center">
    <div class="row align-items-center">
        <div class="col">
            Incomes
        </div>
        <div class="col">
            Expenses
        </div>
        <div class="col">
            Savings
        </div>
    </div>
</div>
