@inject MyContext Ctx

@{
    ViewData["Title"] = "Incomes";
}

<h1>Incomes</h1>

<div class="btn-group" role="group">
    <a asp-action="AddIncome" class="btn btn-success active">Add new Income</a>
</div>


<table class="table table-success table-striped-columns">
<thead>
        <tr>
            <th scope="col">Amount</th>
            <th scope="col">Category</th>
            <th scope="col">Account</th>
            <th scope="col">Note</th>
            <th scope="col">Date</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
