@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="title">Moola</h1><hr style="border: 1px solid limegreen "/>
    <p class="bottom-text">Moola helps you set up a budget and keep track of your expenses.<br>Take control of your finance today!</p>
    <div class="btn-group" role="group">
        <a href="@Url.Action("Login", "Users")" class="btn myButton active" style="margin-right:60px">Log in</a>
    </div>
    <div class="btn-group" role="group">
        <a href="@Url.Action("SignUp", "Users")" class="btn myButton active">Sign up</a>
    </div>
</div>

