@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class= "title">Moola</h1>
    <p class="bottom-text">Moola helps you set up a budget and keep track of your expenses.</p>
    <p class="bottom-text">Take control of your finance today!</p>
    <div class="btn-group" role="group">
        <a href="@Url.Action("Login", "Users")" class="btn btn-success active">Log in</a>
    </div>
    <div class="btn-group" role="group">
        <a href="@Url.Action("SignUp", "Users")" class="btn btn-success active">Sign up</a>
    </div>
</div>

