@{
    ViewData["Title"] = "Information";
}
<h1 class="myHeader text-center">Information</h1>
<hr style="border: 1px solid limegreen " />

<div class="information">
   <p>It is Ukrainian Web Application was created for the convenience and easy management of your own budget.</p>
    <p>The origin of the name is quite simple - "Moola" is an informal term or slang word used to refer to money or financial resources. It is used in casual speech or informal situations, particularly in American English.<p />
   <p>The word "moola" carries similar meanings to other slang words such as "money," "cash," "dough," "bucks," and so on. It is used to denote money in general or may have a more specific connotation, indicating a large sum of money or wealth.</p>
   <p>For example:</p>
   <p>- "I need some moola to pay my bills."</p>
   <p>- "He made a lot of moola from his business venture."</p>
   <p>In general, "moola" is an unofficial word used in conversational style to refer to money or financial resources.<p />
   <p>That is why we named our application precisely with this word, to emphasize its purpose of preserving and growing your money through smart management of your expenses and incomes.</p>
</div>


